.page-header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand "#{current_site.name}"

      %ul.nav.navbar-nav.navbar-right
        = active_link_to 'カテゴリ', editor_categories_path, wrap_tag: 'li'
        = active_link_to '記事',     editor_posts_path,      wrap_tag: 'li'

        %li
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
