<!DOCTYPE html>
<html>
<head>
  <title>Bbs</title>
  <%= stylesheet_link_tag    "bbs/application", media: "all" %>
  <%= javascript_include_tag "bbs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
