<!DOCTYPE html>
<html>
<head>
  <title>DaimonNewsBlog</title>
  <%= stylesheet_link_tag    "daimon_news_blog/application", media: "all" %>
  <%= javascript_include_tag "daimon_news_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
