= form_tag search_path, method: :get, class: 'search-form' do
  = search_field_tag 'query[keywords]', @search_result&.keywords, placeholder: 'キーワードを入力'
  %button.search-form-icon{ type: 'submit', class: 'search-form-icon' }
%a.search-form-icon
