%h1 Listing topics

%table
  %thead
    %tr
      %th Title
      %th Body
      %th
      %th
      %th

  %tbody
    - @topics.each do |topic|
      %tr
        %td= topic.title
        %td= topic.body
        %td= link_to 'Show', topic

%br

= link_to 'New Topic', new_topic_path
