%h1= @site.name

%section
  %h1 Posts
  %ul
    - @posts.each do |post|
      %li= link_to post.title, post

%section
  %h1 BBS
  = link_to 'New Topic', new_topic_path, class: 'button'
  %ul
    - @topics.each do |topic|
      %li= link_to topic.title, topic
