%h1= current_site.name

%section
  %h1 Posts
  = render 'posts/long_collection', posts: @posts

- if current_site.bbs_enabled?
  %section
    %h1 BBS
    = link_to 'New Topic', new_topic_path, class: 'button'
    %ul
      - @topics.each do |topic|
        %li= link_to topic.title, topic
