%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Slug
      %th
      %th
      %th
      %th
      %th

  %tbody
    - categories.each do |category|
      = render partial: 'category', locals: {category: category}
