%h1 カテゴリ一覧

%p カテゴリとは、同じテーマについて書かれた記事をまとめるためのものです。一つの記事は必ず一つのカテゴリに所属します。

= link_to 'New Category', new_editor_category_url, class: 'btn btn-default'

= render partial: 'table', locals: {categories: @categories}
