/*
 *= require rails_bootstrap_forms
 *= require select2
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-markdown-editor";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "post";
