%p.pagination__item{class: ("pagination__item--current" if page.current?)}
  = link_to_unless page.current?, page, url, remote: remote, rel: page.next? ? "next" : page.prev? ? "prev" : nil, class: "pagination__link", data: defined?(data) ? data : nil
