- set_meta_tags title: 'Hello! my name is 404', noindex: true

%h1 Hello! my name is 404

%p
  URLをもう一度確認して下さい

%h2 もしかして……
%p
  お探しのページが見つからない可能性はいくつか考えられますが、アドレスの入力ミスから見つからない場合もあります。
  アドレスバーに記載されているURLをもう一度確認してみてください。
%p
  スペースが入っている、貼り付けミス、最後まで正しく入力されていないなどの可能性があります。
