- if site.errors.messages.include? :"redirect_rules.destination"
  - until site.errors.messages[:"redirect_rules.destination"].include? t('activerecord.errors.models.redirect_rule.redirect_loop')
    %div.has-error
      %span.help-block
        - if site.errors.messages[:redirect_rules].present?
          - site.errors.messages[:redirect_rules].find { |i| i == t('activerecord.errors.models.redirect_rule.redirect_loop') }.present?
        = t('activerecord.errors.models.redirect_rule.redirect_loop')
- elsif site.errors.messages[:redirect_rules].present?
  %div.has-error
    %span.help-block
      = site.errors.messages[:redirect_rules].first
