%tr.nested-fields
  = f.hidden_field :id
  %td
    = f.text_field :request_path, hide_label: true
  %td
    = f.text_field :destination, hide_label: true
  %td
    = link_to_remove_association "Destroy", f
