<!DOCTYPE html>
<html>
<head>
  <title>daimon-news-multi-tenant</title>
  <%= stylesheet_link_tag    'daimon_news_admin/application', media: 'all' %>
  <%= javascript_include_tag 'daimon_news_admin/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
