%p
  %b Name:
  = @credit_role.name
%p
  %b Order
  = @credit_role.order

= link_to 'Edit', edit_site_editor_credit_role_url(@credit_role, site_id: current_site)
\|
= link_to 'Back', site_editor_credit_roles_url(site_id: current_site)
