%h3 関連記事

%ul.related_articles
  = render partial: 'application/native_ad', locals: {position: :related_articles}

  - posts.each do |post|
    = render layout: 'posts/summary', locals: {post: post} do
      = post.short_text_body
