%h3 関連記事

%ul.related_articles
  = render partial: 'application/native_ad', locals: {position: :related_articles}

  - posts.each do |post|
    = render partial: 'posts/summary_with_content', locals: {post: post}
