- breadcrumb :post, @post

%article
  = raw render_markdown(@pages.first.body)

  - if @pages.total_pages > 1
    %nav.pagination
      = paginate @pages, theme: :post

  = render partial: 'banner', locals: {position: :press_article_bottom}

  %aside
    = render partial: 'share_buttons', locals: {title: @post.title, url: post_url(@post), twitter_account: current_site.twitter_account, caption_html: current_site.share_button_caption_html}

    %div(style='padding:0px 0px;')
      .smanone(style='padding-top:10px;')
        .textwidget

    -# TODO ここに関連記事を表示する
