%ul
  - categories.each do |category|
    %li
      = link_to category.name, category_url(category.slug)
      - if depth < 2
        - if category.has_children?
          = render 'categories', categories: category.children, depth: depth + 1
        - else
          %ul
            - category.posts.published.order_by_recent.limit(7).each do |post|
              = render 'posts/title', post: post
