%h1 Listing posts

%table.table
  %thead
    %tr
      %th email
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to 'Edit', edit_admin_user_path(user)
        %td= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New user', new_admin_user_path, class: 'btn btn-default'
