- breadcrumbs.tap do |links|
  - if links.any?
    %nav.breadcrumbs
      %ol.breadcrumbs__list
        - links[0..-2].each do |link|
          %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
            %a.breadcrumbs__link(itemprop='url'){href: link.url}
              %span(itemprop='title')= link.text
        %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
          %span(itemprop='title')= links.last.text
