:ruby
  options = local_assigns[:options] || {microdata: true}
  microdata = options.delete(:microdata)

  if microdata
    microdata_list = {itemtype: 'http://schema.org/BreadcrumbList', itemscope: true}
    microdata_item = {itemtype: 'http://schema.org/ListItem', itemscope: true, itemprop: 'itemListElement'}
    microdata_link = {itemprop: 'item'}
    microdata_title = {itemprop: 'name'}
  else
    microdata_list = {}
    microdata_item = {}
    microdata_link = {}
    microdata_title = {}
  end

- breadcrumbs(options).tap do |links|
  - if links.any?
    %nav.breadcrumbs
      %ol.breadcrumbs__list{microdata_list}
        - links.each.with_index(1) do |link, index|
          %li.breadcrumbs__fragment{microdata_item}
            - if links.options[:link_current] || link != links.last
              %a.breadcrumbs__link{**microdata_link, href: link.url}
                %span{microdata_title}= link.text
                - if microdata
                  %meta(itemprop="position" content=index)
            - else
              %span{microdata_title}= link.text
