- options = local_assigns[:options] || {}
- breadcrumbs(options).tap do |links|
  - if links.any?
    %nav.breadcrumbs
      %ol.breadcrumbs__list
        - links[0..-2].each do |link|
          %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
            %a.breadcrumbs__link(itemprop='url'){href: link.url}
              %span(itemprop='title')= link.text
        %li.breadcrumbs__fragment(itemscope itemtype='http://data-vocabulary.org/Breadcrumb')
          - if links.options[:link_current]
            %a.breadcrumbs__link(itemprop='url'){href: links.last.url}
              %span(itemprop='title')= links.last.text
          - else
            %span(itemprop='title')= links.last.text
