- if current_site.footer_url.present?
  .external-component{data: {external_src: current_site.footer_url}}
- else
  %footer.content-footer
    %ul.content-footer__links
      - current_site.links.ordered.each do |link|
        %li.content-footer__link= link_to link.text, link.url, class: 'content-footer__link-label'

= javascript_include_tag 'application'
= javascript_include_tag current_site.js_url.presence || "themes/default/application"
= DaimonMarkdown::Plugin::Math.script_tag
