.alert.alert-danger
  Internet Explorer はサポートしていないので最新のブラウザを使用してください。
  %ul
    %li= link_to "Firefox", "https://getfirefox.com/"
    %li= link_to "Chrome", "https://www.google.com/chrome/browser/desktop/"
