%li.article-summary.article-summary--with-thumbnail.ad{data: {position: position, ad_type: :text}}
  = link_to '#', class: 'article-summary__url ad__link' do
    = image_tag '#', class: 'article-summary__thumbnail ad__image'
    .article-summary__body
      %p.article-summary__title.ad__title
      %p.article-summary__data
        %time.article-summary__data-item
          = Time.current
