#preview-notification{style: 'position: fixed; top: 0; width: 100%; background-color: rgba(100, 100, 100, 0.9); color: white; z-index: 9999; font-size: 1.1em; padding: 15px;'}
  これはプレビュー用の画面です。
  非公開設定の記事も表示されています。
