.article-summary {
  padding: rem(10);
  font-size: 0.95rem;
  border-bottom: 1px solid $article-summary-border-color;

  &#{&}--with-thumbnail > &__url {
    @include flex-container(horizontal);
  }

  &__thumbnail {
    @include flex(0 0 rem(50));

    height: rem(50);
    margin-right: 1rem;
  }

  &__title {
    @include line-clamp(2);

    padding: 0;
    margin: 0;
    line-height: 1.4;
  }

  &#{&}--minor &__title {
    font-size: 0.8rem;
  }

  &__data {
    margin: rem(10) 0 0;
    font-size: rem(10);
  }

  &__data-item {
    &:not(:first-child) {
      margin-left: rem(10);
    }
  }
}
