* {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=radio] {
  margin-right: 0.3rem;
}

#{$all-text-inputs} {
  line-height: 1.6rem;
}

select {
  height: 2.1rem;
}

#{$all-text-inputs}, select {
  border-radius: $input-border-radius;
  padding: 0.2rem;
}

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
