.button {
  @include user-select(none);

  @include appearance(none);

  @include prepend-fa-icon-container($color: $default-icon-color);

  display: inline-block;
  border: 0;
  padding: 0.5rem;
  vertical-align: middle;
  text-align: center;
  background-color: $default-button-bg-color;
  border-radius: $button-border-radius;
  font-size: 0.9rem;

  &--primary {
    @include prepend-fa-icon-container($color: $primary-icon-color);

    background-color: $primary-button-bg-color;
  }

  &--facebook {
    @include sns-button(#3B5998, "f");
  }

  &--twitter {
    @include sns-button(#33CCFF, "t");
  }

  &--line {
    @include sns-button(#00C300, "L");
  }

  &--hatebu {
    @include sns-button(#aaa, "B!");
  }
}
