.content-header {
  &__main {
    @include flex-container(horizontal);

    @include align-items(center);

    height: $header-height;
    width: 100%;
    top: 0;
    border-bottom: 1px solid $content-header-border-color;
    z-index: 2;

    @include large-screen {
      height: $header-height * 1.5;
      position: static;
    }
  }

  &__sub {
    @include middle-screen {
      margin-bottom: rem(20);
      border-bottom: 1px solid $content-header-border-color;
    }
  }

  &__button {
    @include flex-container(vertical);

    @include align-items(center);

    @include justify-content(center);

    @include flex(0 0 auto);

    margin: rem(4);
    width: 6em;
    height: 4em;
    font-size: rem(10);
    background: initial;
    border: 1px solid $content-header-border-color;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    &::before {
      @include fa-icon;

      font-size: 2em;
      color: $default-icon-color;
    }

    &#{&}--menu {
      &::before {
        content: $fa-var-bars;
      }

      @include large-screen {
        @include visibility(hidden);
      }
    }
  }

  &__title {
    @include flex(1);

    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;

    @include large-screen {
      padding: 1.2rem 0;
    }
  }

  &__logo {
    display: inline-block;
    height: 100%;
  }

  &__logo-image {
    height: 100%;
  }

  &__tagline {
    margin: 0;
    padding: rem(10) 0;
    text-align: center;
    font-size: rem(10);

    @include middle-screen {
      font-size: rem(12);
    }
  }
}
