.menu {
  $font-size: 0.9rem;

  margin: 0;
  text-align: left;
  font-size: $font-size;

  &__section {
    &:not(:first-child) {
      margin-top: 0.6rem;
      padding-top: 0.6rem;
      border-top: 1px dotted $menu-border-color;
    }
  }

  &__items {
    @include flex-container(horizontal);

    @include flex-wrap(wrap);

    padding-left: 0.3rem;
  }

  &__item {
    display: block;
    width: 100%;

    &[data-menu-item-state='current'] > .menu__label {
      background-color: $menu-label-current-bg-color;

      &::before {
        color: $menu-label-current-icon-color;
      }
    }
  }

  &__label {
    $height: $font-size * 3;

    @include prepend-fa-icon-container;

    display: inline-block;
    padding: 0 0.3rem;
    width: 100%;
    height: $height;
    line-height: $height;
    color: $menu-label-color;
    border-radius: rem(8);

    &:hover {
      color: $menu-label-color;
    }
  }
}
