.post {
  &__title {
    margin: 0;
    padding-top: rem(10);
    font-size: 1.2rem;
  }

  &__body {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    h2 {
      font-size: 1.15rem;
      padding-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    blockquote {
      padding: rem(20);
    }

    ul {
      list-style-type: disc;
      padding: rem(10) rem(20) rem(10) rem(30);
      margin-bottom: rem(10);
    }
  }

  &__data {
    text-align: right;
  }

  &__data-item--published-at {
    @include prepend-fa-icon($fa-var-calendar);

    font-size: rem(12);
  }
}
