.subheading {
  @include prepend-fa-icon-container($color: $primary-icon-color);

  display: block;
  padding: rem(8) rem(10);
  margin-bottom: rem(10);
  line-height: rem(27);
  background-color: $subheading-bg-color;
  font-weight: normal;
  font-size: 1rem;
  border-radius: rem(8);

  &#{&}--aside {
    font-size: 0.8rem;
    padding: 0.2rem 0.8rem;
    border-radius: 100rem;
  }
}
