$base-color: #83DDFB;

$header-height: rem(54);

$default-icon-color: #CCC;

$default-button-bg-color: #EEE;

$primary-icon-color: $base-color;

$primary-button-bg-color: #FFD6D6;

$global-radius: rem(6);
$input-border-radius: $global-radius;
$button-border-radius: $global-radius;
$dialog-border-radius: $global-radius;

$menu-border-color: #CCC;
$menu-label-color: #666;
$menu-label-current-bg-color: #EEE;
$menu-label-current-icon-color: $primary-icon-color;

$article-summary-border-color: $base-color;

$content-header-border-color: $base-color;

$content-footer-bg-color: #EEE;
$content-footer-link-color: #333;

$main-pane-border-color: $base-color;

$subheading-bg-color: $base-color;

$backdrop-bg-color: #000;

$sns-button-color: #FFF;

$pagination-bg-color: #33BDEB;
$pagination-link-color: #FFF;
$pagination-icon-color: $primary-icon-color;
$pagination-entries-color: #666;

$sidebar-bg-color: #FFF;
